version: 2.1

jobs:
  integration-postgres:
    docker:
      - image: cimg/python:3.11
      - image: cimg/postgres:16.0
        environment:
          POSTGRES_USER: dbt
          POSTGRES_PASSWORD: dbt
          POSTGRES_DB: dbt

    resource_class: small

    environment:
      DBT_PROFILES_DIR: ./
      INTEGRATION_TEST_RELATION: test_data_default
      INTEGRATION_TEST_SCHEMA: dbt_profiler_integration_tests_postgres
      POSTGRES_HOST: localhost

    working_directory: ~/repo/integration_tests

    steps:
      - checkout:
          path: ~/repo
      - run:
          name: Install dependencies
          command: |
            pip install "dbt-postgres>=1.1.0,<2.0.0"
            dbt deps
            dbt --version

      - run:
          name: Run tests
          command: |
            dbt build --target postgres

      - run:
          name: Run print_profile macro
          command: |
            dbt run-operation print_profile --args '{"relation_name": "'$INTEGRATION_TEST_RELATION'", "schema": "'$INTEGRATION_TEST_SCHEMA'"}'

      - run:
          name: Run print_profile_schema macro
          command: |
            dbt run-operation print_profile_schema --args '{"relation_name": "'$INTEGRATION_TEST_RELATION'", "schema": "'$INTEGRATION_TEST_SCHEMA'"}'

      - run:
          name: Run print_profile_docs macro
          command: |
            dbt run-operation print_profile_docs --args '{"relation_name": "'$INTEGRATION_TEST_RELATION'", "schema": "'$INTEGRATION_TEST_SCHEMA'"}'

      - run:
          name: Run update-relation-profile.sh script
          command: ../update-relation-profile.sh $INTEGRATION_TEST_RELATION $INTEGRATION_TEST_SCHEMA

  integration-bigquery:
    docker:
      - image: cimg/python:3.11

    resource_class: small

    environment:
      DBT_PROFILES_DIR: ./
      BIGQUERY_KEYFILE: ./bigquery-service-key.json

    working_directory: ~/repo/integration_tests

    steps:
      - checkout:
          path: ~/repo
      - run:
          name: Install dependencies
          command: |
            pip install "dbt-bigquery>=1.1.0,<2.0.0"
            dbt deps
            dbt --version

      - run:
          name: Test database connection
          command: |
            echo "${BIGQUERY_SERVICE_ACCOUNT_JSON}" > ${BIGQUERY_KEYFILE}
            dbt debug --target bigquery

      - run:
          name: Run tests
          command: |
            dbt build --target bigquery

  integration-snowflake:
    docker:
      - image: cimg/python:3.11

    resource_class: small

    environment:
      DBT_PROFILES_DIR: ./
      SNOWFLAKE_PRIVATE_KEY_PATH: ./snowflake-private-key.p8

    working_directory: ~/repo/integration_tests

    steps:
      - checkout:
          path: ~/repo
      - run:
          name: Install dependencies
          command: |
            pip install "dbt-snowflake>=1.1.0,<2.0.0"
            dbt deps
            dbt --version

      - run:
          name: Test database connection
          command: |
            echo "${SNOWFLAKE_PRIVATE_KEY}" > ${SNOWFLAKE_PRIVATE_KEY_PATH}
            dbt debug --target snowflake

      - run:
          name: Run tests
          command: |
            dbt build --target snowflake

workflows:
  version: 2
  continuous-integration:
    jobs:
      - integration-postgres
      - approve-bigquery:
          type: approval
      - integration-bigquery:
          requires:
            - approve-bigquery
      - approve-snowflake:
          type: approval
      - integration-snowflake:
          requires:
            - approve-snowflake